SECRET_KEY=aewy3+@98t15sgsc75_#y4$q6qbfn0$@w1#d-z342&)!ls-!bl
DEBUG=FALSE
DEMO_MODE=True
ALLOWED_HOSTS=127.0.0.1,localhost
RAZORPAY_KEY_ID=rzp_test_TDPVIA7T580pFv
RAZORPAY_KEY_SECRET=2U1GMc1LrLiB79jOVO0ORBe3
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
OPENWEATHER_API_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@messmate.local
SMS_PROVIDER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
FAST2SMS_API_KEY=
FAST2SMS_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_JSON=
